<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="fixed-top bg-light text-center py-3">
  <h1>Borrowed Items</h1>
</div>

<div class="container mt-5 pt-5">
  <div class="row mb-4">
    <div class="col text-end">
      <p class="lead">Logged in as {{ user.username }}</p>
    </div>
  </div>

  <div class="mt-4">
    <a href="{% url 'home_page_router' %}" class="btn btn-primary">Back to Homepage</a>
  </div>

  {% if user.profile.userRole == 0 %}
    <div class="card mb-4">
      <div class="card-body">
        <form action="{% url 'available_to_requested' %}" method="post">
          {% csrf_token %}
          <fieldset>
            <legend class="h2">Select which textbook do you want to send a request for</legend>
            {% for item in available_items %}
              <div class="form-check mb-2">
                <input type="radio" class="form-check-input" name="item" id="item{{ forloop.counter }}" value="{{ item.id }}">
                <label class="form-check-label" for="item{{ forloop.counter }}">{{item}}</label>
              </div>
            {% endfor %}
          </fieldset>
          <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
      </div>
    </div>
  {% endif %}

  {% if user.profile.userRole == 1 %}
    <div class="card mb-4">
      <div class="card-body">
        <form action="{% url 'requested_to_in_circulation' %}" method="post">
            {%  csrf_token %}
            <fieldset>
                <legend><h1>Select which requests to accept or deny</h1></legend>
                    {% for item in requested_items %}
                        <div>
                            <input type ="radio" name="item" id="item{{ forloop.counter }}" value="{{ item.id }}">
                            <label for="item{{ forloop.counter }}">{{item}}</label><br>
                        </div>
                {% endfor %}
            </fieldset>
            <input type="submit" name="yes" value="Yes">
            <input type="submit" name="no" value="No">

        </form>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
