<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Librarian Settings</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<div class="fixed-top bg-light text-center py-3">
  <h1>Librarian Settings</h1>
</div>
<body class="container mt-5">
  <div class="d-flex align-items-center">
    <div class="row mb-4">
      <div class="col text-end">
        <p class="lead">Logged in as {{ user.username }}</p>
      </div>
    </div>
  </div>
  <form action="{% url 'patron_to_librarian' %}" method="post">
  {%  csrf_token %}
  <fieldset>
    <legend><h1>Select who to upgrade to a librarian</h1></legend>
      {% for patron in patron_list %}
      <div>
        <input type ="radio" name="patron" id="patron{{ forloop.counter }}" value="{{ patron.id }}">
        <label for="patron{{ forloop.counter }}">{{patron.user.username}}</label><br>
      </div>
      {% endfor %}
  </fieldset>
  <input type="submit" value="Submit">
  </form>
  <div class="mt-4">
    <a href="{% url 'home_page_router' %}" class="btn btn-primary">Back to Homepage</a>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>