{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="fixed-top bg-light text-center py-3">
        <h1>Your Profile</h1>
    </div>

    <div class="container mt-5">
        <div class="d-flex align-items-center">
            <div class="row mb-4">
                <div class="col text-end">
                    <p class="lead">Logged in as {{ user.username }}</p>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <a href="{% url 'home_page' %}" class="btn btn-primary">Back to Homepage</a>
        </div>

        <div><a><b>Profile Picture:</b></a></div>
        
        <div class="mb-3">
            <form action="{% url 'upload_pfp' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="form-control" type="file" id="pfp" name="pfp">
                <input type="submit">
            </form>
        </div>

        <div>
            {% if USE_AWS %} 
                {% if user.profile.profile_picture %}
                    {% if user.profile.profile_picture.url %}
                        <img src="{{ user.profile.profile_picture.url }}" alt="pfp">
                    {% else %}
                        <img src="{% static 'profile-placeholder.png' %}" alt="pfp" class="img-fluid rounded" style="max-width: 200px;">
                    {% endif %}
                {% else %}
                    <img src="{% static 'profile-placeholder.png' %}" alt="pfp" class="img-fluid rounded" style="max-width: 200px;">
                {% endif %}
            {% else %}
                <img src="{% static 'profile-placeholder.png' %}" alt="pfp" class="img-fluid rounded" style="max-width: 200px;">
            {% endif %}
        </div>
    </div>
{% endblock %}